<table>
    <tr>
        <td><%= link_to "New Game", update_board_path %></td>
        <td><%= link_to "New Game", update_board_path %></td>
        <td><%= link_to "New Game", update_board_path %></td>
    </tr>
    <tr>
        <td><%= link_to "New Game", update_board_path %></td>
        <td><%= link_to "New Game", update_board_path %></td>
        <td><%= link_to "New Game", update_board_path %></td>
    </tr>
    <tr>
        <td><%= link_to "New Game", update_board_path %></td>
        <td><%= link_to "New Game", update_board_path %></td>
        <td><%= link_to "New Game", update_board_path %></td>
    </tr>
</table>